*.iml
.gradle
/.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deviceManager.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/misc.xml
.DS_Store
/build
/benchmark/build/
/captures
.externalNativeBuild
.cxx
local.properties
*.jks
*.keystore
keystore.properties
/app/release/
